.DS_Store
wildlife_env/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
.env
.vscode/
mdv5a.pt
model.pt
cropped_images
mg_detections.json


# Python virtual environment
api/venv/
venv/
# Environment variables / secrets
api/.env
.env
# Python cache
__pycache__/
*.py[cod]
*$py.class
